{% extends 'base.html.twig' %}

{% block title %}Hello TaskManagerController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./css/style.css"
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Enter Task</h2>
            <h3>*Note: Added tasks will automatically be labeled "incomplete"</h3>
        </div>
    </div>
    <br>
    <form method="POST" action="{{path('create_task')}}">
        <div class="row">
            <div class="col-8">
                <input name="task_name" type="text" placeholder="i.e. Error Test"/>
            </div>
            <div class="col">
                <button type="submit" class="addBtn">Add a task</button>
            </div>
        </div>
    </form>
    <br>

    {# Tasks will go here #}
    <div class="container">
    <ul>
    {% for task in tasks %}
        <li>
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        {{ task.TaskName }}
                    </div>
                    {# <div class="row">
                        <a onclick="editName"><button>Edit Task Name</button></a>
                        <div id="test"></div>
                    </div> #}
                </div>
                <div class="col-1">
                    <div class="row">
                        <p {% if task.Incomplete != true %} class="current" {% endif %}>Incomplete</p>
                    </div>
                    <div class="row">
                        <a href="{{path('edit_incomplete',{'id':task.id})}}"><button>Set Incomplete</button></a>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row">
                        <p {% if task.InProgress %} class="current" {% endif %}>In Progress</p>
                    </div>
                    <div class="row">
                        <a href="{{path('edit_inprogress',{'id':task.id})}}"><button>Set In Progress</button></a>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row">
                        <p {% if task.Complete %} class="current" {% endif %}>Complete</p>
                    </div>
                    <div class="row">
                        <a href="{{path('edit_complete',{'id':task.id})}}"><button>Set Complete</button></a>
                    </div>
                </div>
                <div class="col-6 text-right"><a href="{{path('task_delete',{'id':task.id})}}"><button>Delete Task</button></a></div>
            </div>
        </li>
        <br>
    {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}




